*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.logo{
    display: inline-block;
    text-align: center;
    
   
    height: 11rem;
    
}
.contenedor{
    height: 100vh;
    width: 100%;
    padding: 0;
}
.cabeza{
    position: relative;
    background-color: black;
    height: 8rem;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
div img{
    border-radius: 50%;
}
.azul{
    position: relative;
    top: 1rem;
    filter: drop-shadow(20px 20px 50px white);
}
.cola{
    position: relative;
    right: 12rem;
    bottom: 3rem;   
}

.raton{
    height: 8rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
/* ------------------------------------------------------------------------ */
