*{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Great Vibes', cursive;
}
.contenedor{
    background-color: black;
    height: 15rem;
    width: 100%;
    padding: 0;
    position: relative;
}
.cabeza{
    position: relative;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
div img{
    border-radius: 50%;
}
.azul{
    position: relative;
    top: 1rem;
    filter: drop-shadow(20px 20px 10px white);
}
.cola{
    position: relative;
    right: 20rem;
    bottom: 5rem;   
}

.raton{
    height: 8rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
/* ------------------------------------------------------------------------ */
.firma{
    position: relative;
}
.vale{
    position: absolute;
    top: 50rem;
    right: 0rem;
    font-size: 5rem;
    color: black;
}
/* ---------------------------------------------------------------------------- */
.mesa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aqua;
    height: 70rem;
}
.madera{
    text-align: center;
    
}
