.bodys{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
nav{
    
}
nav img{
    border-radius: 50%;
    height: 9.38rem;
    margin: 1rem;
}
.redes{
    padding: 1rem;
    margin: 1rem;
}
hr{
    border: 0;
    box-shadow: 20px 20px 100px gray inset;
    width: 80%;  
}