.bodys{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
nav{
    height: 100%;
}
nav img{
    border-radius: 50%;
    height: 9.38rem;
    margin: 1rem;
}
.redes{
    padding: 1rem;
    margin: 1rem;
}
hr{
    box-shadow: 2px 2px 100px gray !important;
    width: 80%;
     
}