*{
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.cabeza{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVMLnPpIMc0qHXe6TurJc9-BNXoJAQqvw9RQ&usqp=CAU);
    background-size: cover;
    height: 12rem;
    padding: 0;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
div img{
    border-radius: 50%;
}
.azul{
    position: relative;
    top: 1rem;
    filter: drop-shadow(20px 20px 50px white);
}
.cola{
    position: relative;
    right: 20rem;
    bottom: 5rem;
    
}
.raton{
    height: 8rem;
    position: relative;
    top: 1rem;
    left: -20rem;
}
/* ------------------------------------------------------------------------ */
.homer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVMLnPpIMc0qHXe6TurJc9-BNXoJAQqvw9RQ&usqp=CAU);
    background-size: cover;
    width: 100%;
    height: 40rem;
    padding: 0;
    margin: 0;
}