*{
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.cabeza{
    background-color: aqua;
    height: 12rem;
    padding: 0;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
div img{
    border-radius: 50%;
}
.azul{
    position: relative;
    top: 1rem;
}
.cola{
    position: relative;
    right: 20rem;
    bottom: 5rem;
    
}
.raton{
    height: 8rem;
    position: relative;
    top: 1rem;
    left: -20rem;
}