.bodys{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

nav img{
    border-radius: 50%;
    height: 9.38rem;
    margin: 1rem;
}
.redes{
    padding: 1rem;
    margin: 1rem;
}
hr{
    border: 0;
    border-top: 1rem;
    box-shadow: 20px 20px 100px gray inset;
    width: 80%;  
}
/* ---------------------------------------------- */
.col1 .col2 .col3{
    background-color: gray;
    height: 10rem;
    border-radius: 2px;
    border: black 1px solid;
}
col img{
    display: flex;
    justify-content: center;
}