*{
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.cabeza{
    background-color: black;
    background-size: cover;
    height: 12rem;
    width: 100%;
    padding: 0;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
}
div img{
    border-radius: 50%;
}
.azul{
    position: relative;
    top: 1rem;
    filter: drop-shadow(20px 20px 50px white);
}
.cola{
    position: relative;
    right: 20rem;
    bottom: 5rem;   
}

.raton{
    height: 8rem;
    position: relative;
    top: 1rem;
    left: 5rem;
    top: 31rem;
}
/* ------------------------------------------------------------------------ */
.homer{
    background-color: black;
    
    width: 100%;
    height: 30rem;
    padding: 0;
    margin: 0;
}
