*{
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.cabeza{
    background-color: aqua;
    height: 25rem;
    padding: 0;
}
.orejas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
div img{
    border-radius: 50%;
}
.cola{
    position: relative;
    right: 15rem;
    bottom: 9rem;
    box-shadow: 3px 3px 3px yellow;
}