*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
.cajaDe600{
    background-image: url(https://images.pexels.com/photos/6805854/pexels-photo-6805854.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.contendor{
    position: relative;
    display: inline-block;
}
.texto1{
    position: absolute;
    top: 0%;
    right: 50%;
    font-size: 20px;
}
.texto2{
    position: absolute;
    
    display: inline;
    border-radius: 100px;
    
}
.texto3{
    position: absolute;
    top: 10%;
    right: 45%;
}